<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        工作一览
        <small>本月工作小计</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页 </a></li>
        <li class="active">工作一览</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>150 项</h3>
                    <p>停电工作</p>
                </div>
                <div class="icon">
                    <i class="ion ion-wrench"></i>
                </div>
                <a href="#" class="small-box-footer">更多 <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</section>